<h1>{{title}}</h1>

<div>
  <ul>
    {{#each addresses}}
    <li>
      {{address}} ({{ismine}}) |
      {{#each permissions}}
        {{type}}{{#if @last}}{{else}},{{/if}}
      {{/each}}
    </li>
    {{/each}}
  </ul>

</div>
